{% extends 'base.html'%}

{% block content%}
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-3">
     <h3>{{ blog.heading}}</h3>
     <h5>By - {{blog.author}}</h5>
     <img src="https://source.unsplash.com/random/300x200" alt=" ">
    </div>

    <div class="col-sm-9">
      {{format_blog|safe}}
      <hr>
      <p><strong>Comments by our readers</strong></p>
      <p></p>
      <p></p>
      <hr>
      {% for comment in comments %}
    <li>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Comment ID: {{ comment.id }}</h5>
                  <p class="card-text"><i>{{ comment.details}}</i></p>
                  <hr />
                  <footer class="blockquote-footer"> - <cite> posted on - {{ comment.posted }} </cite></footer>
                   
              </div>
            </div>
    </li>
    
{% endfor %}
<a href="/blog/comment/new/{{blog.id}}" class="btn btn-success">Add a new comment</a>
    </div>
    <ul>
    
 </ul>

       
  </div>
</div>
{%endblock%}