{% extends 'base.html' %}

<!-- Styles Block-->

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/index.css')}}">
{% endblock %}



<!-- Content Block -->

{% block content %}
<div class="container">
<header class="masthead" style="background-image: url({{url_for('static', filename = 'images/home-bg.jpg')}})">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">
                <h1>Moringa School Tutorials</h1>
                <span class="subheading">A Tutorial Blog for Prep Students</span>
              </div>
            </div>
          </div>
        </div>
      </header>
{% for tutorial in tutorial_list %}
   
<div class="col-lg-12 col-md-12 mx-auto">
  <div class="card">
    <div class="post-review">
      <h3 class="post-title">{{ tutorial.heading }}</h3>
      <p class="post-subtitle"><i>{{ tutorial.content | truncate(350, True)}}</i></p>
      <hr />
      <footer class="blockquote-footer"> - <cite> Posted by: {{ tutorial.author }} | posted  on: {{tutorial.posted}}</cite></footer>
      <a href="/tutorial/{{tutorial.id}}" class="btn btn-primary">See more...</a>
      
    </div>
  </div>
</div>
   
{% endfor %}
<hr />
<p></p>
<a href="/tutorial/new/" class="btn btn-success">Add a new Tutorial..</a> 
</div>

<div class="row">
  <hr/>

</div>
{% endblock %}

