{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

<!-- Content Block -->

{% block content %}
<h3></h3>
<div class="col-md-4" style="background-color: aquamarine; align-items: center;text-align: center;align-self: center;">
  
    {{wtf.quick_form(tutorial_form)}}
    
</div>
<div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s; padding-left:40px ; border: palegoldenrod; border-radius: 5px;">
    <div class="container">
      <h4><b>Learning model</b></h4>
      <p style="padding-left: 40px;">Moringa uses a method of learning that combines traditional 
        classroom experiences with online learning called ‘Blended Learning.’
         This innovative educational hybrid challenges the traditional face-to-face learning that
          most institutions use.
          We implement blended learning in many unique ways, and here at Moringa, we use the 
          ‘Flipped Classroom’ model, where we introduce our students to the course content at home to
           review at their own pace. Instead of lecture-style delivery, we use class time for practical,
            hands-on experiences. Technical mentors guide students through projects and assignments, hence
             ‘flipping’ the expectations of a traditional classroom where teachers would use class time todisseminate material 
             and lecture different topics
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, ducimus? Iusto tempora neque 
        natus eum earum repudiandae maxime praesentium? Cumque odit similique reiciendis aliquid 
        laborum sunt omnis vel beatae ipsum!
    </p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Omnis excepturi quibusdam labore ipsa dolore, placeat ipsum tempora numquam consequatur
         voluptatum aliquid debitis impedit fuga deserunt nemo eum, iure nulla nam!</p>
    </div>
  </div>
  <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s; padding-left:40px ; border: palegoldenrod;">
    <div class="container">
      <h4><b>Testimonials</b></h4>
      <p style="padding-left: 40px;">Moringa School is the school that you join not just for certifications
         nor a degree, but to build a career in an ever-evolving industry. While a student, I learned a 
         tonne of things that I would not have readily learned online. Skills such as working in a fast 
         paced environment with ever-changing needs, communicating technical requirements in a non-technical
          way to clients (or potential users), finding gaps in the market and building for that, user research, 
          personal skills such as communication and how to teach yourself to learn. It became more than just a school for me,
           it became a community that I wanted to be a part of and wanted to grow. See full Profile on LinkedIn<br>

        BRIAN LUSINA<br>
        
        Moringa Alumnus
    </p>
    <p style="padding-left: 40px;">After Moringa School, I got into the workforce as a Software engineering intern at Gro Intelligence 
            and thereafter I was prompted to a full-time role as a back-end engineer. Moringa contributed a 
            great deal in helping me secure the internship. Despite me not applying the technical skills I 
            learned at Moringa, I was more than capable of jumping into new technology stacks with relative ease. 
            This is because the key skill I can attribute to Moringa school is giving students the capacity to understand 
            the underlying technical concepts/ principles thus allowing someone to adapt to different technologies quickly. 
            See full Profile on LinkedIn<br>

            NOMBUYISELO MURAGE<br>
            
            Moringa Alumna
    </p>
    </div>
  </div>

{% endblock %}